<ion-header>
  <ion-toolbar>
    <ion-title>İlanlarim</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">

        Kapat
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="kullaniciIlanlari.length!=0">
  <ion-list>
    <ion-item-sliding *ngFor="let item of kullaniciIlanlari">
      <ion-item (click)="openDetayModal(item.ilanUid)" routerLinkActive="router-link-active"  >
        <ion-thumbnail slot="start">
          <img src="{{item.resim_url}}" />
        </ion-thumbnail>
        <ion-label>
          <h3>{{item.tur}}</h3>

          <p>{{item.aciklama}}</p>
        </ion-label>

      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteAdvert(item.ilanUid)" color="danger">Sil</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-content *ngIf="this.kullaniciIlanlari.length==0" >

  <ion-card class="ion-padding" style="top: 200px;">
    <ion-label style="font-size: 16px;">Henüz İlanınız Yok</ion-label>
    <br><br>
      <ion-button style="--background: black;border-radius: 20px;"   (click)="ilanEkleEkraninaGotur()"  shape="round">
       İlan Ver
      </ion-button>

  </ion-card>



  </ion-content>
