ion-content{
  // --background:url('../../assets/images/login.jpg') no-repeat center center / cover;
  text-align: center;

}

ion-label{
  font-family: Amatica SC;
  font-size: 21px;
  --color:white
}
:host{
ion-input{
  border: 1px solid rgb(0, 0, 0);
  margin-top: 10px;

  --padding-bottom: 17px;
    border-radius: 8px;
color: rgb(0, 0, 0);
  text-align: center;

}}
ion-note{
  font-size: 11px;
  color: red;
}
ion-item{
  --background:transparent;
}

ion-card{
  margin: 0%;
  border-radius: 0%;
  border-top-right-radius:39px ;
  border-top-left-radius:39px ;
}

:host{
  ion-button{
      width : 150px;
      display: inline-grid;
      --background:#000000;
  }
}
:host{
  ion-label{
     color: rgb(0, 0, 0);
  }
}
p{
  color: rgb(0, 0, 0);
}

ion-select{
  color: rgb(0, 0, 0);
}
