<!-- eslint-disable @angular-eslint/template/eqeqeq -->

 <ion-header *ngIf="user!=null" [translucent]="false" class="ion-no-border">
  <ion-toolbar style="text-align: center;">

    <ion-title>İlan Ekle</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="user!=null" [fullscreen]="true">

  <ion-radio-group [(ngModel)]="ilanTuru" value="sahiplendirme">
    <ion-list-header style="text-align: justify;">
      <ion-label>İlan Türü</ion-label>
    </ion-list-header>
    <ion-item>
      <p>Sahiplendirme</p>
      <ion-radio slot="start" color="success" value="Sahiplendirme"></ion-radio>
    </ion-item>

    <ion-item>
      <p>Kayıp / Bulunan</p>
      <ion-radio slot="start" color="success" value="Bulundu"></ion-radio>
    </ion-item>

    <ion-item>
      <p>Kayıp / Aranan</p>
      <ion-radio slot="start" color="success" value="Aranıyor"></ion-radio>
    </ion-item>
  </ion-radio-group>
<br><br>

  <ion-row>
    <ion-col size="6">
     <ion-label>Kategori</ion-label> <br>


      <ion-select [(ngModel)]="kategori" (ngModelChange)="turleriGetir()" placeholder="Seç">
        <ion-select-option *ngFor="let item of kategoriler" value="{{item.kategori}}">{{item.kategori}}</ion-select-option>

      </ion-select>

  </ion-col>
  <ion-col size="6">
    <ion-label>Tür</ion-label> <br>


    <ion-select [(ngModel)]="tur"  placeholder="Seç">
      <ion-select-option *ngFor="let item of turler" value="{{item.tur}}">{{item.tur}}</ion-select-option>

    </ion-select>

</ion-col>

  </ion-row>


  <ion-row>
    <ion-col size="6">
     <ion-label>Cinsiyet</ion-label> <br>


      <ion-select  [(ngModel)]="cinsiyet" placeholder="Seç">
        <ion-select-option value="Erkek">Erkek</ion-select-option>
        <ion-select-option value="Dişi">Dişi</ion-select-option>
      </ion-select>

  </ion-col>
  <ion-col size="6">
    <ion-label>Yaş</ion-label> <br>


    <ion-select [(ngModel)]="yas" placeholder="Seç">
      <ion-select-option value="0-1 yaşında">0-1 yaşında</ion-select-option>

      <ion-select-option value="1 yaşında">1 yaşında</ion-select-option>
      <ion-select-option value="2 yaşında">2 yaşında</ion-select-option>
      <ion-select-option value="3 yaşında">3 yaşında</ion-select-option>
      <ion-select-option value="4 yaşında">4 yaşında</ion-select-option>
      <ion-select-option value="4 yaşından büyük"> 4 yaşından büyük</ion-select-option>

    </ion-select>

</ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="6">
     <ion-label>Konum</ion-label> <br>


     <ion-select [(ngModel)]="konum" placeholder="Seç">
      <ion-select-option *ngFor="let item of iller" value="{{item.il}}">{{item.il}}</ion-select-option>

    </ion-select>

  </ion-col>
  <ion-col size="6" style="">

    <p (click)="captureImage()" style="font-size: 14px;margin-top: -3px;font-weight: 600;" *ngIf="image">Fotoğraf Seçildi <ion-icon style="color: green;top: -8px;
      position: absolute;" size="large" name="checkmark-done-outline"></ion-icon> <br><br><span style="color: blue;">Değiştir</span> </p>
    <p *ngIf="!image" (click)="captureImage()" style="line-height: 0px;"><ion-icon style="line-height: 70px;font-size: x-large;" size="medium" slot="start" name="camera"></ion-icon> Fotoğraf Ekle</p> <br>



</ion-col>

  </ion-row>

  <ion-item lines="none" >
    <ion-label position="stacked" style="font-weight: 600;">Açıklama</ion-label><br>
    <ion-input [(ngModel)]="aciklama" type="text" placeholder="Neden bu ilanı yayınlıyorsun ?"></ion-input>


  </ion-item>


<br>
  <ion-button [disabled]="!ilanTuru||!kategori||!tur||!cinsiyet||!yas||!konum||!image||!aciklama" (click)="ilanEkle()"  expand="block"  shape="round">
    Yayınla
  </ion-button>
</ion-content>




<ion-content *ngIf="user==null" >

  <ion-card class="ion-padding" style="top: 200px;">
    <ion-label style="font-size: 16px;">Henüz Giriş Yapmadınız</ion-label>
    <br><br>
      <ion-button  (click)="girisEkraninaGotur()"  shape="round">
        Giriş Yap
      </ion-button>

  </ion-card>



  </ion-content>
