ion-content{
  text-align: center;
}
ion-toolbar{
  --background:transparent;
  text-align: center;

}


p{
  position: absolute;
  left: 3px;
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
}
ion-row{
  margin-top: 10px;
}

ion-col{
  top: -10px;
}
:host{
  ion-button{

      --background:black;
  }
}
