ion-chip{
  --background:#f8f8f8; ;
  font-weight: 600;
}
ion-row{
  text-align: center;
}
ion-content{
  text-align: center;
}
h5{
  font-family: Andika New Basic;
}
:host{
  ion-button{
      width : 150px;
      display: inline-grid;
      --background:black;
  }
}
h6{
  font-size: 10px;
  font-weight: bold;
}

